<ion-view title="Sobre Nós">
    <ion-content id="pageconfig">
            <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div class="preto">Informativo sobre a dupla que continuo o projeto dos seus veteranos e que esperam que o projeto continue visando melhorias na cidade para os proximos que assumirem.</div>
        
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div class="fundo center">Diogo Dardani e Diogo Silverio.</div>

        <div id="home-container2">    
            <div class="padding">
                <img src="img/formandos.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
            </div>    
        </div>

        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div class="preto">Projeto visa a melhoria do atual sistema de podas de 
            árvores e denúncia da mesma, por intermédio da nossa orientadora Valéria M. Volpe, da 
            Faculdade de Tecnologia de Rio Preto e
             da Secretaria Municipal do Meio Ambiente e Urbanismo de Rio Preto, apresentamos o aplicativo TreeCut.
        </div>

        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div class="fundo center">Ao alcance das mãos.</div>

        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div class="preto">Antes pelo computador ou Poupa-Tempo, agora o sistema de podas de árvores 
            e denúncias com georreferenciamento e foto chega a Rio Preto, tudo diretamente pelo seu smartphone.
        </div>

        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div class="fundo center">Adira já ao aplicativo.</div>
        <div class="spacer" style="width: 300px; height: 17px;"></div>

        <div id="home-container3">    
            <div class="padding">
                <a ng-click="irComeco()">
                    <img src="img/logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
                </a>                
            </div>    
        </div>
        
<!--





        <ion-item class="item-avatar" padding="padding-horizontal">
            <img src="{{pictureProfUrl}}" class="profile" ng-click="abrirGaleria()">
            <p>
                <h2 class="profile-name">Nome usuário</h2>
            </p>
            <p>
                <h2>Solicitante</h2>
            </p>

        </ion-item>







        <a ui-sref="alterarSenha" id="menu-button6" class="button button-dark  button-block button-clear" data-componentid="button6">Alterar senha</a>
        <div ng-show="show">
            <a ui-sref="gerenciarFuncionario" id="menu-button15" class="button button-dark  button-block button-clear" data-componentid="button6">Gerenciar funcionário(s)</a>
        </div>
        <a id="menu-button3" class="button button-assertive  button-block button-clear" ng-click="logout()" data-componentid="button3">Sair</a>-->
    </ion-content>
</ion-view>