
Escolher
Será realizado pelo morador
À ser definido
Abilio Perpetuo Mazaro - P130
Ademar Pereira Guirra - P034
Ademilson Aparecido Queiroz - P014
Adriano Cristian Ferreira de Andrade - P165
Aguinaldo Alves dos Santos - P143
Alcides Donizete De Azevedo - P063
Alex Aparecido Gimenes - P131
Allan Valeriano da Silva Souza - P007
Amauri Junior Batistela - P160
Ana Paula Lopes de Moraes - P003
Anderson Stife Zanesco - P141
André Henrique Batista da Cruz - P052
André Ricardo dos Santos - P039
Antonio Alves Fernandes - P166
Antônio Batista da Cruz - P050
Antonio Flavio De Caires - P068
Antonio Padim Neto - P123
Aparecido Donisete de Matos - P105
Aparecido Donizete dos Santos - P032
Aparecido Jesus Terezam - P059
Arlindo Da Rocha João - P077
Arnaldo Salvador Gomes dos Santos - P026
Benedito Soares Barbosa - P031
Bruna Fauspina Alves Reis - P136
Bruno Correa - P149
Carlos Alberto Severino Abrigo - P015
Carlos Cesar Junior - P006
Carlos José de Souza Gabriel - P087
Carlos José Rosa - P156
Cladenilson Fernandes Luiz - P145
Claudecir Pereira De Castro - P075
Clesio de Jesus Ribeiro - P098
Clovis Augusto dos Santos - P120
Cristiano Honorato Rodrigues - P036
Daniel de Oliveira - P115
Deise Juliana Figueiredo Paixão - P119
Deoclecio Aparecido da Silva - P045
Diogo Alves Araujo - P176
Donizetti Aparecido Mori - P070
Dorcilio Gomes - P030
Ednaldo Castilho - P158
Edson Dias dos Santos - P051
Edson Jose da Costa - P033
Elias da Silva - P128
Ercole Pezzolato Filho - P019
Erick Ramon Pateis Contreras - P164
Eriko Marcio Pronti - P062
Erildo dos Santos Barbosa - P117
Erminio Barbosa Dias da Silva - P094
Etore Donisete Savadin - P060
Ezequiel Braulino da Silva - P146
Fabriano Renato Porto - P169
Fernando Ricardo Straus - P099
Florindo Canola - P004
Gece Antonio do Nascimento - P021
Gedeão Vicente Rosa - P157
Gilson Cezar Menezes - P002
Guilherme Amorin Loiola - P142
Jairo de Souza Depina - P135
Jario dos Santos Leite - P014
João Antonio De Carvalho - P066
João Carlos dos Santos - P088
João Carlos Guimarães - P040
João Rodrigues de Assis - P055
João Soares - P144
Jorge Atarashi - P095
Jorge Batista - P073
Jorge Roberto Da Silva - P170
José Antonio do Amarante - P152
José Artur Garcia Barbosa - P127
José Carlos Pereira - P078
José Carlos Pichoffi - P150
José Donizete dos Santos - P038
José Ferreira de Oliveira - P054 
José Hamilton Alves - P041
José Luis de Lima - P020
José Luis Monteiro - P089
José Oliveira Daniel da Silva - P124
José Roberto Brandão - P151
José Roberto Pereira - 147
Junior Cesar Barbosa da Silva - P134
Juraci Magalhães - P046
Luciano de Oliveira - P082
Luiz Antonio Campalado Junior - P133
Luiz Carlos Lorentino - P100
Manuel José Cardoso - P178
Marcelo Ramos da Silva - P133
Marcos Martins Araujo - P023 
Marcos Paulo Barbosa - P155 
Marcos Paulo Santos Alves - P175
Mario Alberto Oliveira Couto - P081/P056
Milton Jesus da Costa - P148
Moises Antonio Rosa Muniz - P085
Natalino Shigueru Fugiwara - P061 
Natanael Candido Martins de Lima - P116
Newton Rafael Juraneli Ioca - P116
Orineu Fortunato Del Guincaro - P018
Orlando De Jesus - P079 
Osmar Adriano Caetano de Souza - P043 
Oswaldo Ailton Coutinho - P027
Paulo Baroni - P093 
Paulo Cesar Da Silva - P065 
Paulo Cesar de Melo - P090 
Rafael Jordão Barro Noco - P163 
Raimundo Santos de Jesus - P053 
Reginaldo Donizete Ferreira - P159 
Roberto Fernandes - P172 
Roberto Giovani Atarashi - P096 
Rodrigo Lopes Costas - P154 
Rogério Donizete de Oliveira - P114 
Romério Neves de Brito - P173 
Ronaldo Medeiros Fernandes - P011 
Samuel Angelo Chagas - P125
Sebastião Aparecido de Carvalho - P091 
Sidnei Rosa - P009 
Silvia Teixeira da Costa - P035 
Silvio Luiz Tomazelli - P083 
Sinvaldo Ferreira de Carvalho - P010 
Tiago Bruno Gomes Cervantes - P129 
Ulisses Vinicius Rodrigues - P012 
Valdemar Sanita - P069 
Valdemir Luis Assolini - P139 
Willian Augusto Ferreira Carvalho - P168