<ion-view title="" id="page5" >
  
  <ion-content padding="true" scroll="true" class="has-header">
    <form id="login-form1" class="list">
      <div class="spacer" style="width: 300px; height: 70px;"></div>
      <div>
        <img src="img/logo.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      
      <!--<ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <input placeholder="E-mail" required="true" ng-model="user.email" type="text">
        </label>
        <label class="item item-input" id="login-input2">
          <input placeholder="Senha" required="true" ng-model="user.password" type="password">
        </label>
      </ion-list>-->
      <div class="spacer" style="width: 300px; height: 55px;"></div>
      <a  id="login-button1" class="button button-balanced  button-block icon-left ion-compose" ng-click="login()">Solicitar</a>
      
      <div class="spacer" style="width: 280px; height: 26px;"></div>
      <a  id="login-button2" class="button button-balanced  button-block icon-left ion-clipboard" ng-click="login1()">Denunciar</a>

      <div class="spacer" style="width: 280px; height: 26px;"></div>
      <a  id="login-button3" class="button button-balanced  button-block icon-left ion-person-stalker" ng-click="login2()">Sobre Nós</a>

    </form>
  </ion-content>
</ion-view>